.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-grey);
    align-items: center;
    color: var(--color-white);
    padding: 16px;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 1;

    &--dark {
        background-color: var(--color-pink);
        padding: 8px;
    }
}

.navbar__left {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.navbar__menu {
    display: flex;

    &.open {
        display: block;
    }
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);

    &.active {
        border: 1px solid var(--color-white);
    }

    &:hover {
        border-color: var(--color-white);
        background-color: var(--color-dark-pink);
        border-radius: 4px;
    }
}

.navbar__toggle_btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-pink);

        &--dark {
            padding: 16px;
        }
    }

    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;

        &.open {
            display: block;
        }
    }

    .navbar__toggle_btn {
        display: block;
        top: 24px;
        right: 16px;
        font-size: var(--font-medium);
    }
}